.close_account_box {
  background: #ffffff;
  border: 1px solid #e2ecff;
  box-shadow: -2px 4px 6px rgba(188, 210, 255, 0.41);
  border-radius: 6px;
}
.close_acount_causes_box {
  border-radius: 6px;
  border: 1px solid #e2ecff;
}
.close_subheading {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000012;
  padding-bottom: 7px;
}
ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
li {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #9e9e9e;
}
ul {
  /* list-style: none; Remove default bullets */
}
ul li ::before {
  width: 8px;
  height: 8px;
  background: #5b5bff;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em;
}
.reason_dropdown_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4b5e6e;
  margin-bottom: 5px;
}
.close_account_footer {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #757575;
}
.privacy_text {
  color: #0859f0;
  text-decoration: underline;
}

#close_account_dropdown {
  width: 100%;
  max-width: 380px;
  border: none;
  background: rgba(226, 236, 255, 0.3);
  border-radius: 8px;
  justify-content: start;
  position: relative;
}
#dropdown_div .dropdown-menu.show {
  max-width: 380px;
  width: 100%;
}
#close_account_dropdown .reason_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #424242;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
/* .btn-primary:disabled {
  color: #0f283e;
} */
#close_account_button .btn-primary {
  background: #e33a45;
  border: none;
  width: 100%;
  max-width: 300px;
}
#dropdown_div .dropdown-toggle::after {
  border: none;
  height: 5px;
  background-image: url("../../../../assets/images/btc_dropdown.svg");
  width: 8px;
  background-repeat: no-repeat;
  right: 30px;
  position: absolute;
}
#dropdown_div .dropdown-menu {
  width: 25%;
}
.list_marker {
  width: 8px;
  height: 8px;
  color: #5b5bff;
}
ul {
  list-style-type: none;
}

/* responsive */
@media (max-width: 475px) {
  #close_account_button .btn-primary {
    max-width: 100%;
  }
}
